@charset "UTF-8";
/* colors */
/* Style fonts */
/* Fonts tablette */
/* Fonts mobile */
/* Padding */
/* Reset HTML */
body,
html {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li a, a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Content size */
.content_size {
  width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .content_size {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1340px) {
  .content_size {
    width: 1220px;
  }
}
@media screen and (max-width: 1240px) {
  .content_size {
    max-width: 1160px;
  }
}
@media screen and (max-width: 1180px) {
  .content_size {
    max-width: 1120px;
  }
}
@media screen and (max-width: 1140px) {
  .content_size {
    max-width: 1060px;
  }
}
@media screen and (max-width: 1080px) {
  .content_size {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1020px) {
  .content_size {
    max-width: 940px;
  }
}
@media screen and (max-width: 960px) {
  .content_size {
    max-width: 880px;
  }
}
@media screen and (max-width: 900px) {
  .content_size {
    max-width: 820px;
  }
}
@media screen and (max-width: 840px) {
  .content_size {
    max-width: 760px;
  }
}
@media screen and (max-width: 768px) {
  .content_size {
    width: 100%;
  }
}
/* Padding default */
.padding_default {
  padding: 100px 0;
}

.padding_bottom {
  padding-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .padding_default {
    padding: 50px 0;
  }
}
main {
  padding-top: 100px;
}

@media screen and (max-width: 992px) {
  main {
    padding-top: 80px;
  }
}
/* Fonts */
@font-face {
  font-family: "Shrikhand";
  src: url("../assets/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
html {
  font-size: 1.2rem;
  font-family: var(--font-text);
}

body {
  font-size: 1.2rem;
  font-family: "Roboto-Thin";
  line-height: normal;
}

h1 {
  font-size: 3.4rem;
  font-family: "Roboto-Regular";
}

h2 {
  font-size: 2.4rem;
  font-family: "Roboto-Regular";
}

h3 {
  font-size: 1.8rem;
  font-family: "Roboto-Regular";
}

h4 {
  font-size: 1.2rem;
  font-family: "Roboto-Regular";
}

p {
  font-family: "Roboto-Thin";
  font-size: 1.2rem;
}

/* Fonts tablette */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}
.header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}
.header .header_inner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .header .header_inner {
    height: 80px;
  }
}
.header a {
  display: flex;
  justify-content: center;
}
.header .header_inner img {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .header .header_inner img {
    width: 60%;
  }
}
.header i {
  position: absolute;
  top: 35px;
  left: 100px;
}
@media only screen and (max-width: 992px) {
  .header i {
    top: 30px;
    left: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .header i {
    left: 20px;
  }
}

.footer {
  background-color: #2F2F2F;
  width: 100%;
}
.footer .footer_inner {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .footer .footer_inner {
    width: 90%;
  }
}
.footer .footer_inner img {
  width: 20%;
  padding-bottom: 50px;
}
@media only screen and (max-width: 992px) {
  .footer .footer_inner img {
    width: 30%;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .footer .footer_inner img {
    width: 40%;
  }
}
.footer .footer_inner ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media only screen and (max-width: 768px) {
  .footer .footer_inner ul {
    grid-template-columns: 1fr;
  }
}
.footer .footer_inner ul > li:nth-child(2) {
  grid-column: 1/2;
}
@media only screen and (max-width: 768px) {
  .footer .footer_inner ul > li:nth-child(2) {
    grid-column: initial;
  }
}
.footer .footer_inner ul > li:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}
@media only screen and (max-width: 768px) {
  .footer .footer_inner ul > li:nth-child(3) {
    grid-column: initial;
    grid-row: initial;
  }
}
.footer .footer_inner ul > li:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media only screen and (max-width: 768px) {
  .footer .footer_inner ul > li:nth-child(4) {
    grid-column: initial;
    grid-row: initial;
  }
}
.footer .footer_inner ul > li > a {
  color: white;
  font-family: "Roboto-Regular";
  transition: all 450ms;
}
.footer .footer_inner ul > li > a:hover {
  color: #99E2D0;
}
@media only screen and (max-width: 992px) {
  .footer .footer_inner ul > li > a {
    font-size: 1rem;
  }
}
.footer .footer_inner ul > li > a > i {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .footer .footer_inner ul > li > a > i {
    padding-right: 20px;
  }
}

.top_banner {
  width: 100%;
}
.top_banner .top_banner_inner {
  text-align: center;
  background-color: #EAEAEA;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .top_banner .top_banner_inner {
    height: 50px;
  }
}
.top_banner .top_banner_inner i {
  font-size: 1rem;
  padding-right: 10px;
}
.top_banner .top_banner_inner p {
  font-size: 1.2rem;
  font-family: "Roboto-Regular";
  margin-bottom: 0;
}
@media only screen and (max-width: 992px) {
  .top_banner .top_banner_inner p {
    font-size: 1rem;
  }
}
.top_banner .welcome_banner {
  height: 60vh;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
}
.top_banner .welcome_banner_inner p {
  font-size: 1.8rem;
  margin-bottom: 50px;
}
@media only screen and (max-width: 992px) {
  .top_banner .welcome_banner_inner p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .top_banner .welcome_banner_inner p {
    font-size: 1.1rem;
  }
}

.features .features_inner h2 {
  margin-bottom: 50px;
  text-align: center;
}
.features .features_inner > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media only screen and (max-width: 992px) {
  .features .features_inner > ul {
    grid-gap: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .features .features_inner > ul {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }
}
.features .features_inner > ul > li {
  position: relative;
}
.features .features_inner > ul > li > a {
  background-color: #F6F6F6;
  border-radius: 30px;
  transition: all 400ms;
  display: block;
  box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  -webkit-box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  -moz-box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  font-family: "Roboto-Regular";
}
.features .features_inner > ul > li > a:hover {
  background-color: #f2eafb;
}
.features .features_inner > ul > li > a:hover > i {
  color: #9356DC;
}
@media only screen and (max-width: 890px) {
  .features .features_inner > ul > li > a {
    padding: 40px 0px 40px 30px;
  }
}
.features .features_inner > ul > li > a > p {
  font-family: "Roboto-Regular";
  font-size: 1.2rem;
  margin-bottom: 0;
}
@media only screen and (max-width: 992px) {
  .features .features_inner > ul > li > a > p {
    font-size: 1rem;
  }
}
.features .features_inner > ul > li > a > span {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 12px 15px;
  font-size: 0.8rem;
  position: absolute;
  left: -18px;
  top: 30px;
  color: white;
}
@media only screen and (max-width: 1170px) {
  .features .features_inner > ul > li > a > span {
    left: 45%;
    top: -23px;
  }
}
@media only screen and (max-width: 768px) {
  .features .features_inner > ul > li > a > span {
    left: -18px;
    top: 30px;
  }
}
.features .features_inner > ul > li > a > i {
  color: #525252;
  padding-right: 20px;
  transition: all 400ms;
}

.restaurants {
  background-color: #F6F6F6;
}
.restaurants h2 {
  text-align: center;
  padding-top: 100px;
}
@media only screen and (max-width: 992px) {
  .restaurants h2 {
    padding-top: 50px;
  }
}
.restaurants .restaurants_inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
@media only screen and (max-width: 992px) {
  .restaurants .restaurants_inner {
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .restaurants .restaurants_inner {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }
}
.restaurants .restaurant_article {
  width: 100%;
  box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  -webkit-box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  -moz-box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  border-radius: 50px;
  position: relative;
}
.restaurants .restaurant_article img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px 50px 0 0;
}
@media only screen and (max-width: 992px) {
  .restaurants .restaurant_article img {
    height: 220px;
  }
}
.restaurants .restaurant_article > span {
  background-color: #99E2D0;
  padding: 10px 20px;
  font-family: "Roboto-Regular";
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 5px;
  color: #278870;
  font-size: 1.2rem;
}
@media only screen and (max-width: 992px) {
  .restaurants .restaurant_article > span {
    font-size: 1rem;
  }
}
.restaurants .article_content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .restaurants .article_content {
    padding: 10px 30px;
  }
}
.restaurants span.like_heart {
  position: relative;
}
.restaurants i.heart_empty, .restaurants i.heart_full {
  font-size: 1.8rem;
  position: absolute;
  top: -25px;
  right: 10px;
}
.restaurants i.heart_full {
  opacity: 0;
  transition: all 300ms;
}
.restaurants i.heart_full:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(185deg, #FF79DA, #9356DC);
}

/* Buttons */
.btn_rose {
  color: white;
  padding: 10px 20px;
  background: linear-gradient(185deg, #FF79DA, #9356DC);
  border-radius: 50px;
  font-family: "Roboto-Regular";
  font-size: 1rem;
  transition: all 450ms;
}
.btn_rose:hover {
  filter: brightness(120%);
}

.btn_larger {
  padding: 20px 60px;
  font-size: 1.2rem;
  margin-top: 50px;
}

@media only screen and (max-width: 992px) {
  .btn_larger {
    padding: 15px 50px;
    margin-top: 30px;
  }
}
#loader {
  animation: hideloader 0s ease-in 3s;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2eafb;
  z-index: 200000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader .loader_inner {
  animation: rotate 2s infinite;
  height: 50px;
  width: 50px;
}
#loader .loader_inner:before,
#loader .loader_inner:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
#loader .loader_inner:before {
  animation: ball1 2s infinite;
  background-color: #9356DC;
  box-shadow: 30px 0 0 #9356DC;
  margin-bottom: 10px;
}
#loader .loader_inner:after {
  animation: ball2 2s infinite;
  background-color: #9356DC;
  box-shadow: 30px 0 0 #9356DC;
}

@keyframes hideloader {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #9356DC;
  }
  50% {
    box-shadow: 0 0 0 #9356DC;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #9356DC;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #9356DC;
  }
  50% {
    box-shadow: 0 0 0 #9356DC;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #9356DC;
    margin-top: 0;
  }
}
.top_banner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .top_banner img {
    height: 60vh;
  }
}
@media only screen and (max-width: 768px) {
  .top_banner img {
    height: 50vh;
  }
}

.menus_block .menus_block_inner {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  padding-bottom: 100px;
  /*padding: 30px 30px 100px 30px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media only screen and (max-width: 992px) {
  .menus_block .menus_block_inner {
    padding-bottom: 50px;
    width: 100%;
  }
}
.menus_block .menus_block_parts {
  width: 90%;
  margin: 50px auto;
}
.menus_block .menus_block_main_title {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.menus_block .menus_block_main_title h1 {
  font-family: "Shrikhand";
}
.menus_block .menus_block_main_title i {
  font-size: 2.4rem;
}
.menus_block span.like_heart {
  position: relative;
}
.menus_block i.heart_empty, .menus_block i.heart_full {
  font-size: 1.8rem;
  position: absolute;
  top: -25px;
  right: 10px;
}
.menus_block i.heart_full {
  opacity: 0;
  transition: all 300ms;
}
.menus_block i.heart_full:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(185deg, #FF79DA, #9356DC);
}
.menus_block .menus_block_parts_inner {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5%;
  padding: 20px 0;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .menus_block .menus_block_parts_inner {
    grid-gap: 3%;
  }
}
@media only screen and (max-width: 768px) {
  .menus_block .menus_block_parts_inner {
    grid-template-columns: 100%;
  }
}
.menus_block .menus_block_parts h2 {
  font-family: "Roboto-Regular";
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
}
.menus_block .menus_block_parts h2::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 70px;
  height: 4px;
  bottom: -10px;
  left: 0;
}
.menus_block .menus_block_items {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 30px;
  transition: all 400ms;
  display: block;
  box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  -webkit-box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  -moz-box-shadow: 1px 11px 34px 1px rgb(204, 191, 191);
  background-color: white;
  padding: 25px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.menus_block .menus_block_items_inner {
  display: flex;
  align-items: flex-end;
}
.menus_block .menu_link:hover .menus_items_description {
  width: calc(100% - 125px);
}
.menus_block .menu_link:hover .like_menu {
  transform: translateX(0);
}
.menus_block .menu_link:hover .like_menu i {
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
}
.menus_block .menus_block_items h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.menus_block .menus_block_items p {
  margin: 0;
}
.menus_block .menus_block_items span {
  font-family: "Roboto-Regular";
}
.menus_block .menus_items_description {
  width: calc(100% - 35px);
  transition: all 450ms;
}
.menus_block .menus_items_description h3, .menus_block .menus_items_description p {
  width: 100%;
  white-space: nowrap; /* empêche le retour à la ligne */
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus_block .menus_items_description p {
  font-size: 1rem;
}
.menus_block .like_menu {
  height: 100%;
  width: 90px;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(90px);
  transition: all 450ms;
}
.menus_block .like_menu i {
  color: white;
}

/*# sourceMappingURL=style.css.map */
