/* colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-dark-background: #2F2F2F;
$color-light-background: #F6F6F6;
$color-text: #525252;

/* Style fonts */

$font-title-sp: "Shrikhand";
$font-title: "Roboto-Regular";
$font-text: "Roboto-Thin";

$size-very-big : 3.4rem;
$size-big: 2.4rem;
$size-medium: 1.8rem;
$size-normal: 1.2rem;
$size-small: 1rem;

/* Fonts tablette */

$size-very-big-tb : 2.8rem;
$size-big-tb: 2.2rem;
$size-medium-tb: 1.3rem;
$size-normal-tb: 1rem;
$size-small-tb: 0.8rem;

/* Fonts mobile */

$size-very-big-mb : 2.1rem;
$size-big-mb: 1.8rem;
$size-medium-mb: 1.1rem;



/* Padding */

$padding_features: 40px 0;
$padding_features_tb: 40px 0px 40px 30px;

$padding_menus: 25px 20px;
